
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.wr-main-content {
    padding: 0px;
    margin-left: 0px;
    margin-top: 50px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

#updateButtons {
    margin-top: -20px;
    margin-left: 86pc;
    padding-top: 15px;
    margin-bottom: 0px;
    border-top: 0px;
}

#containersss {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 75%;
    overflow-wrap: normal;

}

.modal-open {
    overflow: hidden;
    height: 100vh;
}